
#header{
    border: 1px solid black;
    height: 60px;
    padding: 10px;
    width: 100%;
    background-color: black;
    display: grid;
    place-content: center;
    
}
#sub-header{
    display: flex;
    width: 824px;

}

#main{
    display: grid;
    place-content: center;
}

#geral{
    
    width: 1024px;
    height: 1270px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

th{
    padding: 30px;
    border-bottom: 1px solid BLACK;
    text-align: center;
    }

table{
    /* border: 1px solid rgb(0, 17, 255); */
    width: 97%;
    border-radius: 10px;
    margin-bottom: 45px;
    border-radius: 10px;
}
td{
    border: 1px solid black;
    height: 10px;
    padding: 5px;
}
.l1{
    width: 17%;
    border: 1px solid black;
}

#titulo{
    border: 1px solid black;
    padding: 20px;
    width: 97%;
    margin: 10px;
    background: rgb(54, 54, 54);
    border-radius: 5px;
}

input{
    border: 0px solid black;
    border-radius: 0;
    width: 99%;
    height: 10;
}

.valores{
        text-align: right;
}

.block{
    font-weight: 700;
    background-color: rgba(170, 170, 170, 0.582);
}

.final{
    padding: 20px;
    text-align: center;
}

@media only print {

    #header{
        display: none;
    }
   
    }

    @media only screen and (max-width: 600px) {
        body {
            
          background-color: rgb(211, 211, 211);
        }

      }