#geral{
    border: 1px solid red;
    width: 1024px;
    height: 1270px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

th{
    padding: 30px;
    border: 1px solid BLACK;
}

table{
    /* border: 1px solid rgb(0, 17, 255); */
    width: 97%;
    border-radius: 10px;
    margin-bottom: 45px;
}
td{
    border: 1px solid black;
    height: 10px;
    padding: 5px;
}
.l1{
    width: 17%;
    border: 1px solid black;
}

#titulo{
    border: 1px solid black;
    padding: 20px;
    width: 97%;
    margin: 10px;
    background: rgb(54, 54, 54);
    border-radius: 5px;
}

input{
    border: 0px solid black;
    border-radius: 0;
    width: 99%;
    height: 10;
}

.valores{
        text-align: right;
}

.block{
    font-weight: 700;
    background-color: rgba(170, 170, 170, 0.582);
}

.final{
    padding: 20px;
    text-align: center;
}

@media only print {
   
    #titulo{
        border: 1px solid black;
        padding: 20px;
        width: 97%;
        margin: 10px;
        background: rgb(54, 54, 54) !important ;
        border-radius: 5px;
    }
    }